@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
    --font-merriweather: "Merriweather", Georgia, serif;
    --color-primary: #f5820d;
    --color-background: #121212;
    --color-foreground: #f5f5f5;
}

nav div:nth-child(2) .active {
    background: linear-gradient(
        to bottom right,
        var(--color-amber-400),
        var(--color-primary)
    );
    background-clip: text;
    color: transparent;
}
